 .u-section-1 {
  background-image: url("images/maxresdefault.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 55px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 426px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/me2.jpg");
  background-position: 50% 50%;
  margin: 33px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 426px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 15px 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 43px 22px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 368px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 22px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 282px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}